<div class="container">

    <h2>Delete Departments</h2>
    <div class="form-row" *ngIf="!showMsg">
        <div class="alert alert-danger col-md-12" role="alert">
          Are u sure? Really?
          <br>
          <div class="btn-group" role="group">
              <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete </button>
              <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/department-list']">Back</a>
          </div>
        </div>
      </div>

      <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
          {{msg}}
          <br>
          <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/department-list']">Back</a>
        </div>
      </div>

    <form #departmentForm= "ngForm" *ngIf="department">
        <div class="form-row">

            <div class="col-md-4">
                <label>Id:</label>
                <input type="text" id="ID" name="ID" placeholder="Enter the Id " class="form-control"
                    [(ngModel)]="department.DepartmentID" readonly>
            </div>

            <div class="col-md-4">
                <label>Name:</label>
                <input type="text" id="Name" name="Name" placeholder="Enter the Name " class="form-control"
                    [(ngModel)]="department.Name" readonly>
            </div>

            <div class="col-md-4">
                <label>Budget:</label>
                <input type="text" id="Budget" name="Budget" placeholder="Enter the Budget " class="form-control"
                    [(ngModel)]="department.Budget" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label>Start Date:</label>
                <input type="date" id="StartDate" name="StartDate" class="form-control"
                    [(ngModel)]="department.StartDate" readonly>
            </div>

            <div class="col-md-4">
                <label>Instructor ID:</label>
                <input type="number" id="InstructorID" name="InstructorID" placeholder="Enter the InstructorID"
                    class="form-control" [(ngModel)]="department.InstructorID" readonly>
            </div>

        </div>

    </form>


</div>

