<div class="container">
   <br>
   <h1><span class="badge badge-info">Instructors</span></h1>
    
    <a class="btn btn-outline-info btn-sm" [routerLink]="[ '/instructor-save' ]">Create New</a>
    <br>
    <table class="table table-bordered">
      <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First MidName</th>
      <th scope="col">Last Name</th>
      <th scope="col">HireDate</th>
      <th scope="col">Function</th>
    </tr>
      </thead>
      <tbody>
    <tr *ngFor="let item of instructors">
       <td>{{ item.ID }}</td>
       <td>{{ item.FirstMidName }}</td>
       <td>{{ item.LastName }}</td>
       <td>{{ item.HireDate }}</td>
       <td>
          <div class="btn-group" role="group">
          <a class="btn btn-sm btn-outline-info"  [routerLink]="[ '/instructor-edit', item.ID ]">Edit</a>
          <a class="btn btn-sm btn-outline-danger"  [routerLink]="[ '/instructor-delete', item.ID ]">Delete</a>
       </div>
       </td>
    
    
    </tr>
   </tbody>
    </table>
    
    
    </div>
